a:visited {
  color: #98023b;
}

a:link {
  color: #98023b;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

html {
  border-top: 6px solid #9A0239 !important;
}